<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tonybuilder.aospinsight.mapper.ProjectSummaryMapper">

    <select id="getProjectSummaryByName" resultType="ProjectSummaryModel" parameterType="ProjectModel">
        select * from project_summary where project_summary_orig_id=#{projectId}
    </select>

    <select id="getProjectSummary" resultType="ProjectSummaryModel">
        select * from project_summary
    </select>
</mapper>